/* your styles go here */
a.tag {
    background-color: rgb(225, 236, 244);
    padding: .4em .5em;
}

a.aCom{
    padding: 0 1px;
    color: #dfd6d6;
}

a.tagI {
    background-color: rgb(225, 236, 244);
    padding: auto;
}

a { color: inherit; } 

div.ansT {
    text-align:left;
}

div.AnsQ {
    padding-top: 1px;
    border-top: 1px solid;
}
